.mat-div {
    text-align: center;
}
.mat-form-field {
    font-size: large;
    margin: 0.7rem;
}

.mat-row:hover {
    background-color: #3f51b5;
    cursor: pointer;
}

.mat-checkbox:hover {
    cursor: initial;
}

.mat-row:hover .mat-cell {
    color: white;
}

.mat-header-cell {
    background-color: gainsboro;
    font-size: x-large;
    font-weight: 100;
}


table {
    width: 100%;
}


#title {
    font-size: xx-large;
    font-weight: 100;
}

.mat-fab {
    margin: 0.5rem;
}

.delete-icon {
    cursor: pointer;
    vertical-align: bottom;
    font-size: 2rem;
    display: inline;
    padding: 0;
    margin-left: 1rem;
}

.span-selected {
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-weight: 100;
    font-size: larger;
}
