<p>home works!</p>
<button (click)="deleteByIdDialog(13)">new meeting</button>
<button (click)="find(from.value,until.value)">show meetings</button>

<mat-form-field appearance="fill">
    <mat-label>From: </mat-label>
  <!-- #docregion toggle -->
    <input matInput [matDatepicker]="pickerFrom" #from>
    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
  <!-- #enddocregion toggle -->
 </mat-form-field>

 <mat-form-field appearance="fill">
    <mat-label>Until: </mat-label>
  <!-- #docregion toggle -->
    <input matInput [matDatepicker]="pickerUntil" #until>
    <mat-datepicker-toggle matSuffix [for]="pickerUntil"></mat-datepicker-toggle>
    <mat-datepicker #pickerUntil></mat-datepicker>
  <!-- #enddocregion toggle -->
 </mat-form-field>

 <mat-table class="meetings-table mat-elevation-z8" [dataSource]="dataSource">
  
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let meeting">{{meeting.title}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="project">
        <mat-header-cell *matHeaderCellDef>Project</mat-header-cell>
        <mat-cell *matCellDef="let meeting">{{meeting.project}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let meeting">{{meeting.date}}</mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    
</mat-table>